<html ng-app="todoApp" >
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<script type="text/javascript" src="./extras/jquery.min.1.7.js"></script>
<script type="text/javascript" src="./lib/turn.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="todo.js"></script>
<script src="./lib/zoom.min.js"></script>
<link href="./css/font-awesome.min.css" rel="stylesheet">
<link href="./css/magazine-onepage.css" rel="stylesheet">

</head>
<body ng-controller="BookController" ng-init="view_mode = 'mobile'">

<div id="canvas">

<div class="magazine-viewport">
	<div class="container">
    <a class="previous" href="javascript:void(0)" ng-click="previous()" 
    style="position: fixed; bottom: 0px; left: 0px; z-index: 11111;"
      ng-if="current_page > 1">&laquo; <Table>Trang trước</Table></a>
    <a class="next" href="javascript:void(0)" ng-click="next()" 
    style="position: fixed; bottom: 0px; right: 0px; z-index: 11111;"
    ng-if="current_page < (total_page - 1)">Trang sau &raquo;</a>
		<div class="magazine">
    </div>
  </div>
  
</div>


</div>

</body>
</html>